{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Social Network API",
    "description": "social casts api REST"
  },
  "host": "api-social.castsapp.com",
  "basePath": "/v1",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Authorization": {
      "name": "Authorization",
      "type": "apiKey",
      "in": "header"
    }
  },
  "paths": {
    "/auth/sign_up": {
      "post": {
        "operationId": "POST_auth-sign_up",
        "summary": "Sign Up",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/register-user-input"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/register-user"
            }
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "422": {
            "$ref": "#/responses/trait:standardErrors:422"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      }
    },
    "/auth/sign_in": {
      "post": {
        "operationId": "POST_auth-sign_in",
        "summary": "Sign In",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/signin-input"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/signin"
            }
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "422": {
            "$ref": "#/responses/trait:standardErrors:422"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      }
    },
    "/auth/sign_out": {
      "delete": {
        "operationId": "DELETE_auth-sign_out",
        "summary": "Sign Out",
        "tags": [
          "Auth"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "422": {
            "$ref": "#/responses/trait:standardErrors:422"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/auth/destroy": {
      "delete": {
        "operationId": "DELETE_auth-destroy",
        "summary": "Destroy User Self",
        "tags": [
          "Auth"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "422": {
            "$ref": "#/responses/trait:standardErrors:422"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/auth/confirm_email": {
      "get": {
        "operationId": "GET_auth-confirm_email",
        "summary": "Confirm Email",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "302": {
            "description": ""
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "422": {
            "$ref": "#/responses/trait:standardErrors:422"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      }
    },
    "/auth/reset_password": {
      "post": {
        "operationId": "POST_auth-reset_password",
        "summary": "Request Reset Password",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/request-reset-password-input"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/message"
            }
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "422": {
            "$ref": "#/responses/trait:standardErrors:422"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      }
    },
    "/auth/update_reset": {
      "get": {
        "operationId": "GET_auth-update_reset",
        "summary": "Verify Reset Password Token",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "302": {
            "description": ""
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "422": {
            "$ref": "#/responses/trait:standardErrors:422"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        }
      }
    },
    "/auth/change_password": {
      "put": {
        "operationId": "PUT_auth-change_password",
        "summary": "Change User Password",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/change-password-input"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/message"
            }
          },
          "401": {
            "$ref": "#/responses/trait:standardErrors:401"
          },
          "404": {
            "$ref": "#/responses/trait:standardErrors:404"
          },
          "422": {
            "$ref": "#/responses/trait:standardErrors:422"
          },
          "500": {
            "$ref": "#/responses/trait:standardErrors:500"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "responses": {
    "trait:standardErrors:401": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "errors"
        ]
      }
    },
    "trait:standardErrors:404": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "errors"
        ]
      }
    },
    "trait:standardErrors:422": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "errors"
        ]
      }
    },
    "trait:standardErrors:500": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "errors"
        ]
      }
    }
  },
  "definitions": {
    "register-user-input": {
      "title": "Register User Input",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "pattern": "^([\\w+\\-]\\.?)+@[a-z\\d\\-]+(\\.[a-z]+)*\\.[a-z]+$"
        },
        "username": {
          "type": "string",
          "pattern": "^([a-z\\d_]){1,15}$",
          "description": "must contain 1 to 15 lowercase characters, and/or numeric characters and/or underscores"
        },
        "password": {
          "type": "string",
          "pattern": "^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\\W]).{8,72}$",
          "description": "must contain at least a lowercase letter, a uppercase, a digit, a special char and 8 to 72 chars"
        },
        "password_confirmation": {
          "type": "string",
          "pattern": "^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\\W]).{8,72}$",
          "description": "must contain at least a lowercase letter, a uppercase, a digit, a special char and 8 to 72 chars"
        }
      },
      "required": [
        "email",
        "username",
        "password",
        "password_confirmation"
      ],
      "example": {
        "email": "sulmanweb@gmail.com",
        "username": "sulmanweb",
        "password": "Abcd@1234",
        "password_confirmation": "Abcd@1234"
      }
    },
    "register-user": {
      "title": "Register User",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "minimum": 1
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "name",
        "email",
        "username",
        "created_at"
      ],
      "example": {
        "id": 89127322,
        "name": "occaecat do magna",
        "email": "pariatur fugiat ut culpa enim",
        "username": "Duis sunt minim anim incididunt",
        "created_at": "2738-10-21T03:07:32.206Z"
      }
    },
    "signin-input": {
      "title": "Signin Input",
      "type": "object",
      "properties": {
        "auth": {
          "type": "string",
          "description": "username / email"
        },
        "password": {
          "type": "string",
          "description": "must contain at least a lowercase letter, a uppercase, a digit, a special char and 8 to 72 chars",
          "pattern": "^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\\W]).{8,72}$"
        }
      },
      "required": [
        "auth",
        "password"
      ],
      "example": {
        "auth": "sulmanweb",
        "password": "Abcd@1234"
      }
    },
    "signin": {
      "title": "SignIn",
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      },
      "required": [
        "token"
      ]
    },
    "request-reset-password-input": {
      "title": "Request Reset Password Input",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "pattern": "^([\\w+\\-]\\.?)+@[a-z\\d\\-]+(\\.[a-z]+)*\\.[a-z]+$"
        }
      },
      "required": [
        "email"
      ]
    },
    "message": {
      "title": "Message",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": [
        "message"
      ]
    },
    "change-password-input": {
      "title": "Change Password Input",
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "pattern": "^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\\W]).{8,72}$"
        },
        "password_confirmation": {
          "type": "string",
          "pattern": "^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\\W]).{8,72}$"
        }
      },
      "required": [
        "password",
        "password_confirmation"
      ]
    }
  }
}