<h1><%= I18n.t('friendships_mailer.requested.greetings') %> <%= @user.name %></h1>
<p><%= I18n.t('friendships_mailer.requested.body1', name: @requester.name, username: @requester.username) %></p>
<p><%= I18n.t('friendships_mailer.requested.footer') %></p>